<div class="page-header">
  <h1>Nueva Orden</h1>
</div>

<div class="row new-order-top-form">
  <div class="col-md-6">
    <div class="form-group">
      <label for="client">Nombre del cliente</label>
      <input type="text" class="form-control" id="client" placeholder="Juanito, Pepito...">
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <label for="table_id">Número de mesa</label>
      <input type="text" class="form-control" id="table_id" placeholder="M1, M2...">
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr class="row">
      <th class="col-md-4">Platillo</th>
      <th class="col-md-4 text-center">Cantidad</th>
      <th class="col-md-4 text-right">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr class="row">
      <td class="col-md-4">Con jamón</td>
      <td class="col-md-4 text-center">
        <div class="input-group">
          <input value="1" type="text" class="form-control" width="3">
          <div class="input-group-btn">
            <button class="btn btn-default" type="button">+</button>
            <button class="btn btn-default" type="button">-</button>
          </div>
        </div>
      </td>
      <td class="col-md-4 text-right">$60.00</td>
    </tr>
    <tr class="row">
      <td class="col-md-4">Con queso</td>
      <td class="col-md-4 text-center">
        <div class="input-group">
          <input value="3" type="text" class="form-control" width="3">
          <div class="input-group-btn">
            <button class="btn btn-default" type="button">+</button>
            <button class="btn btn-default" type="button">-</button>
          </div>
        </div>
      </td>
      <td class="col-md-4 text-right">$150.00</td>
    </tr>
    <tr class="row">
      <td class="col-md-12 text-center" colspan="3">
        <div class="alert alert-warning new-order-remove-item-warning">
          <p>¿Quieres remover este elemento?</p>
          <p>
          <button class="btn btn-default">Cancelar</button>
          <button class="btn btn-default btn-soft-danger">Remover</button>
          </p>
        </div>
      </td>
    </tr>
    <tr class="row">
      <td class="col-md-4"></td>
      <td class="col-md-4 text-right">Neto:</td>
      <td class="col-md-4 text-right">$210.00</td>
    </tr>
    <tr class="row">
      <td class="col-md-4"></td>
      <td class="col-md-4 text-right">IVA:</td>
      <td class="col-md-4 text-right">$33.60</td>
    </tr>
    <tr class="row">
      <th class="col-md-4"></th>
      <th class="col-md-4 text-right">Neto + IVA:</th>
      <th class="col-md-4 text-right">$243.60</th>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary btn-lg pull-right">Enviar a cocina</button>
