<div class="page-header">
  <h1>Órden #1235</h1>
</div>

<div class="row order-top-form">
  <div class="col-md-4">
    <dl>
      <dt>Nombre del cliente</dt>
      <dd>Benito</dd>
    </dl>
  </div>

  <div class="col-md-4">
    <dl>
      <dt>Número de mesa</dt>
      <dd>M3</dd>
    </dl>
  </div>
  <div class="col-md-4">
    <label for="client">Estado</label>
    <select class="form-control">
      <option selected>Pendiente</option>
      <option>En Processo</option>
      <option>Terminada</option>
    </select>
  </div>
</div>

<table class="table">
  <thead>
    <tr class="row">
      <th class="col-md-4">Platillo</th>
      <th class="col-md-4 text-right">Cantidad</th>
      <th class="col-md-4 text-right">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr class="row">
      <td class="col-md-4">Con jamón</td>
      <td class="col-md-4 text-right">1</td>
      <td class="col-md-4 text-right">$60.00</td>
    </tr>
    <tr class="row">
      <td class="col-md-4">Con queso</td>
      <td class="col-md-4 text-right">3</td>
      <td class="col-md-4 text-right">$150.00</td>
    </tr>
    <tr class="row">
      <td class="col-md-4"></td>
      <td class="col-md-4 text-right">Neto:</td>
      <td class="col-md-4 text-right">$210.00</td>
    </tr>
    <tr class="row">
      <td class="col-md-4"></td>
      <td class="col-md-4 text-right">IVA:</td>
      <td class="col-md-4 text-right">$33.60</td>
    </tr>
    <tr class="row">
      <th class="col-md-4"></th>
      <th class="col-md-4 text-right">Neto + IVA:</th>
      <th class="col-md-4 text-right">$243.60</th>
    </tr>
  </tbody>
</table>
